@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';

body {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
  background-color: #ccd0d7;
  border-radius: 50px;
}

.truncate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
